<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<bean id="updateChartJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject" ref="AchievementService"></property>
	<property name="targetMethod" value="setTopNames"></property>
	</bean>
	<bean id="AchievementService"
		class="com.hust.achievement.service.AchievementService">
	</bean>
	<bean id="updateChartCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	<property name="jobDetail" ref="updateChartJobDetail"></property>
	<property name="cronExpression" value="0 0 12 * * ?"></property>
	</bean>
	
	
</beans>