.container {
	height: 100%;
	width: 100%;
	background: url('../images/liulang-bg.jpg') no-repeat center / cover;
}

.shuaye,
.place {
	height: 1.00rem;
	width: 1.25rem;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 361%;
}

.shuaye-notactive,
.place-notactive{
	background-image: url('../images/liulang-notactive.png');
}

.shuaye-active,
.place-active{
	background-image: url('../images/liulang-active.png');
}